.git
.venv
.databricks
.devcontainer
.github
.streamlit
.vscode
*.pyc
**/*.pyc
**/__pycache__
**/*.ipynb
.DS_Store
**/__builtins__.pyi
databricks/
docs/
tests/

# Ignore unnecessary dev directories to minimize build context
dev/homeice_advantage/
dev/player_college/
dev/player_team_success/
dev/team_success/
dev/team_success_RegularStanely_vol1/
dev/team_success_RegularStanely_vol2/
dev/team_success_benchmarkPredictor/
dev/team_success_measurements_vol1/
dev/player_draft/
dev/player/ice_location/
dev/player/player_college/
