# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_store
.conda
credentials.json

# Package requirement control
all_packages.txt

# Remove raw files not used in the main process or large enough
**_gamelist_raw.csv*
**_player.csv*
**_extension.csv*